    <div class="row">
      <div class="large-3 small-12 column">
        <h1>MonsterS</h1>
      </div>
      <div class="large-6 small-12 column">
        <h2>Find Monsters By: (BIGNESS) [SUBMIT]</h2>
      </div>
      <div class="large-3 small-12 column">
        <h1>Login / Sign Up</h1>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
