<h1><%= @header %> on Monsters.com</h1>

<ul id="monster-list">
  <% @monsters.each do |monster| %>
    <li><%= link_to monster.name, monster %> </li>
  <% end %>
</ul>

<div id="app"></div>


<%= link_to 'New', new_monster_path %>
