<div class="row text-center white-text" id="add-monster-banner">
<h1>Add a rating for <%= @monster.name %></h1>
</div>
<div class="row text-center" id="add-background-light">
<%= render 'form' %>
</div>
</div>
